blue = #1565c0
blue1 = #1976d2 

*
	font-family: 'Roboto', sans-serif;

body, html
	height 100%
	width 100%
	box-sizing border-box !important
	
a, a:hover, a:active, a:visited
	text-decoration none
	
@media screen and (max-width: 650px) 
	main 
		padding 2rem
		text-align center
	.main-header 
		padding 1.5rem
		background blue
		a, i
			color white
		a			
			float right
	.side-nav
		position fixed
		top 0
		left 0
		height 100%
		background white
		transform translateX(-102%)
		transition-duration .3s
		width 80%
		box-shadow 10px 0px 12px -8px black
		&.show-menu
			transform translateX(0%)
		ul
			list-style-type none
			list-style-position outside
			padding 0
			li:nth-child(1) a
				color white
				background blue1
			li 
				a
					color blue1
					display block
					width 100%
					padding .5rem
					font-size 2rem
					text-align center
					&:hover					
						background blue1
						color white
					&:active, &:hover, &:visited		
						text-decoration none	
	.main-screen
		h1
			font-size 4rem
		h2
			font-size 3rem
		button
			border 1px solid blue1
			outline none
			padding 1rem
			font-size 2rem
			background white
	.results
		.table-results	
			width 90%
			margin 0 auto
			font-size 1.5rem
			.table-row:nth-child(1)
				border-bottom 2px solid gray
				text-transform uppercase
				font-weight 700
			.table-row			
				border-bottom 1px solid gray
				display flex
				justify-content center	
				div
					width 33%
					padding 1.4rem
