blue = #90caf9
blue1 = #bbdefb

grey = #bdbdbd
grey1 = #616161

*
	font-family: 'Roboto', sans-serif;

body
	background-image linear-gradient(rgba(#fff, 0.7), rgba(#fff, 0.7)) ,url("../img/bg1.svg")
	background-size cover

body, html
	height 100%
	width 100%
	box-sizing border-box !important
	
a, a:hover, a:active, a:visited
	text-decoration none !important
	
@media screen and (max-width: 650px) 
	main 
		padding 2rem
		text-align center
	.main-header 
		padding 1.5rem
		background blue
		a, i
			color white
		a			
			float right
			text-transform uppercase
			font-weight 700
	.side-nav
		position fixed
		top 0
		left 0
		height 100%
		background white
		transform translateX(-102%)
		transition-duration .3s
		width 80%
		box-shadow 10px 0px 12px -8px black
		&.show-menu
			transform translateX(0%)
		h2 
			margin 0
			font-size 1.5rem
			text-align center
			a 
				display inline-block
				width 100%
				color white
				background blue
				padding 1.7rem
				i 
					margin-right 1rem
		ul
			list-style-type none
			list-style-position outside
			padding 0 2rem		
			li 
				border-bottom 1px solid grey
				a
					color grey
					display block
					width 100%
					padding 1rem 0
					font-size 2rem
					font-weight 100
					text-align center		
		.author
			position absolute
			bottom 0
			left 0
			width 100%
			text-align center
			color grey
	.main-screen
		font-weight 100
		color grey1
		h1
		h2
			margin 3rem 0
			font-weight 100 !important
		.distance
			font-size 7rem
		.time
			font-size 3rem
		button
			box-shadow 5px 5px 6px -4px black
			outline none
			border none
			border-radius 100%
			font-size 2rem
			background white
			width 60px
			height 60px
		.reset-btn
			font-size 1.5rem
		
	.results
		.table-results	
			width 95%
			margin 0 auto
			font-size 1.5rem
			.table-row:nth-child(1)
				border-bottom 2px solid gray
				text-transform uppercase
				font-weight 700
			.table-row			
				border-bottom 1px solid gray
				display flex
				justify-content center	
				div
					width 33%
					padding 1.4rem
