* {
  font-family: 'Roboto', sans-serif;
}
body,
html {
  height: 100%;
  width: 100%;
  box-sizing: border-box !important;
}
a,
a:hover,
a:active,
a:visited {
  text-decoration: none;
}
@media screen and (max-width: 650px) {
  main {
    padding: 2rem;
    text-align: center;
  }
  .main-header {
    padding: 1rem;
    background: #1565c0;
  }
  .main-header a,
  .main-header i {
    color: #fff;
  }
  .main-header a {
    float: right;
  }
  .side-nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    background: #fff;
    transform: translateX(-102%);
    transition-duration: 1s;
    width: 80%;
    box-shadow: 10px 0px 12px -8px #000;
  }
  .side-nav.show-menu {
    transform: translateX(0%);
  }
  .side-nav ul {
    list-style-type: none;
    list-style-position: outside;
    padding: 0;
  }
  .side-nav ul li:nth-child(1) a {
    color: #fff;
    background: #1976d2;
  }
  .side-nav ul li a {
    color: #1976d2;
    display: block;
    width: 100%;
    padding: 0.5rem;
    font-size: 2rem;
    text-align: center;
  }
  .side-nav ul li a:hover {
    background: #1976d2;
    color: #fff;
  }
  .side-nav ul li a:active,
  .side-nav ul li a:hover,
  .side-nav ul li a:visited {
    text-decoration: none;
  }
  .main-screen h1 {
    font-size: 4rem;
  }
  .main-screen h2 {
    font-size: 3rem;
  }
  .main-screen button {
    border: 1px solid #1976d2;
    outline: none;
    padding: 1rem;
    font-size: 2rem;
    background: #fff;
  }
  .results .table-results {
    width: 90%;
    margin: 0 auto;
    font-size: 1.5rem;
  }
  .results .table-results .table-row:nth-child(1) {
    border-bottom: 2px solid #808080;
    text-transform: uppercase;
    font-weight: 700;
  }
  .results .table-results .table-row {
    border-bottom: 1px solid #808080;
    display: flex;
    justify-content: center;
  }
  .results .table-results .table-row div {
    width: 33%;
    padding: 1.4rem;
  }
}
